*{box-sizing: border-box;}
body{margin: 0;}
.nav-logo{text-align: center;
         margin-top: 5px;} 
.nav-logo img{width:60px;
             height:65px;
             text-align: left; border-radius: 50%;}
.navbar{background-color: brown;
      }

.heading{text-align: center;
        padding: 7px 5px;
        font-size:15px;}      
.nav-menu{ display: flex;
          justify-content: flex-end;
          margin-top:10px;}
.nav-menu a{text-decoration: none;
            font-size:25px;
            color: cornsilk;
            padding: 7px 15px;
            margin-top:5px;
            display: block;}

.nav-menu a:hover{background-color: gray;
                 border-radius: 5px;}
  

.col-1{width:8.33%;}               
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

[class*="col-"]{
    float: left;
    padding: 7px;
}
.navbar::after{content: '';
    clear: both;
    display: table;}
@media screen and(min-width:992px) {

.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}


[class*="col-"]{
    float: left;
    padding: 7px;
}
.navbar::after{content: '';
            clear: both;
            display: table;}
}

@media screen and(max-width:600px) {
    [class*="col-"]{
        width:100%;}
 
}